.connect {
  color: #b98f3d;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  width: 600px;
  height: 300px;
  border: solid 1px #b98f3d;
  border-radius: 5px;
  background-color: black;
}
#logging {
  margin: 5px;
}
h1 {
  text-align: center;
}
#user {
  text-align: left;
  display: flex;
  justify-content: space-around;
}
#password {
  text-align: left;
  display: flex;
  justify-content: space-around;
}
#infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#oubli {
  text-align: right;
  display: flex;
  justify-content: space-around;
}

#envoyer {
  border: solid 2px #b98f3d;
  border-radius: 2px;
  color: #b98f3d;
  background-color: black;
}
#boutton {
  border: solid 2px #b98f3d;
  border-radius: 2px;
  color: #b98f3d;
  background-color: black;
}
