.personnages {
    color:white;
   background-color: black;
    background-size: cover;

}

h1  {
    text-align: center;
    text-decoration: underline;
    text-align: center;
    

}

h2 {
    padding: 2%;
    text-decoration: underline;
    text-align: center;
  
    border-radius: 61px;

}


.list {
    display: flex;
    align-content: space-between;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}


.card {
    border-radius: 7px;
    padding-left: 3%;
    border: solid 2px yellow;
    height: 160px;
    width: 120px;
}

