footer {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	margin: 0 20%;
}
.pied {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
}
a {
	text-align: center;
}
.credit {
	text-align: center;
}
