header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.gauche {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.droite {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}
a {
    color: black;
    text-decoration: none;
    margin-right: 50px;
}
