header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.gauche {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.droite {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.lien {
  color: black;
  text-decoration: none;
  font-size: large;
  text-align: center;
  margin-right: 50px;
  background-color: white;
}
<<<<<<< HEAD
.lien:hover {
    border: 2px dotted black;
    font-weight: bolder;
}
.bouton {
  margin-left: 50px;
}
=======
>>>>>>> 92bd6a71c9b48d1ef32b53888d2249ebf2528f23
