.accueil {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 5% 0% 10% 0%;
}

.left>a, .center>a, .right>a {
    display: flex;
    flex-flow: column nowrap;
    justify-content:center;
    align-items: center;
    text-decoration: none;
    color: black;
}
.lien:hover{
    border: 2px solid gold;
}
.lien>p, h1{
    color: gold;
}
.lien>img {
    width: 85%;
    weight: 85%
}
iframe {
    width: 100%;
}
.indexfilm {
    max-width: 75%;
    margin-left: 1%;
}