.presentation{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.histoire{
    margin: 1%;
}
.presentoir {
	width: 100%;
    margin: 1%;
}
.presentoir img {
	width: 50%;
}

@media (max-width: 700px) {
    .presentation{  
        flex-wrap: wrap;
    }
}

.relations > img {
    float: left;
    width: 15%;
}