.title {
    color: #EFA23A;
	text-align: center;
}
.card {
    text-align: center;
    box-shadow: 0px 0px 10px #EFA23A;
    border: solid 3px #EFA23A;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
	width: 20%;
}
.list {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card img {
	width: 100%; 
}

.bg-white{
    background: #fff;
}

@media (max-width: 700px) {
    .card {
        padding: 1rem;
        text-align: center;
        width: 30%;
    }
}