body {
background-image:url(../images/background/starrysky.jpg);
font-size:1.1em;
}

.container {
margin-left: 10%;
margin-right:10%;
color: white;
}

a:link {
    text-decoration: none;
    color:#b98f3d  ;
}

a:visited {
    text-decoration: none;
    color:#b8b8b80c;
}

.movie {
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.poster {
display:inline-block;
width:35%;
text-align: center;
}

.poster h1 {
    text-align: center;
}

.poster img {
    width:100%;
}

.synopsis {
display:inline-block;
width:45%;
text-align: justify;
}

.synopsis h2 {
    text-align: center;
}

.trailer {
    padding-bottom: 10%;
    padding-top:10%;
    display:flex;
    justify-content: center;
}

.integration {
    width:1000px;
    height:650px;
}

@media screen and (max-width:912px) {
    .movie {
        display:flex;
        flex-direction: column;
        width:100%;
        margin-left:0%;
        margin-right:0%;
        }
        .poster {
            width:100%;
        }
        .synopsis {
            width:98%;
            text-align:left;
        }
        }

@media screen and (min-width:500px) {
    .synopsis {
        text-align: justify;
    }
}

@media screen and (min-width:1024px) and (max-width:1280px){
    .synopsis {
        width:55%;
        margin-left:10%;
    }
}