<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css">
		<title>Capitaine Panaka</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
                        <h1>Capitaine Panaka</h1>
                        <p>Quarsh Panaka était le chef des volontaires des Forces Royales de Sécurité de Naboo. Il devint Chef de la Garde rapprochée de la Reine de Naboo, notamment de Reine Padmé Amidala lors de son voyage à Coruscant pour demander au Sénat Galactique de lever le blocus de la Fédération du commerce sur Naboo.</p>
                    </div>
                    <div class="presentoir">
                        <img src="" alt="">
                        <table>
							<tr>
                                <th>Apparait dans:</th>
                                <td>La Menace Fantôme</td>
                            </tr>
                            <tr>
								<th>Première apparition:</th>
								<td>La Menace Fantôme</td>
							</tr>
							<tr>
								<th>Affiliation:</th>
								<td>Forces Royales de sécurité de Naboo</td>
							</tr>
							<tr>
								<th>Race:</th>
								<td>Humain</td>
							</tr>
							<tr>
								<th>Genre:</th>
								<td>Masculin</td>
							</tr>
							<tr>
								<th>Planète d'origine:</th>
								<td>Naboo</td>
							</tr>
							<tr>
								<th>Métier:</th>
								<td>Commandant des forces armées</td>
							</tr>
							<tr>
								<th>Côté de la Force:</th>
								<td>Lumière</td>
							</tr>
						</table>
                    </div>
				</div>
                <div class="relations">
					<hr>
                    <h2>Rôle dans l'histoire</h2>
                    <img src="" alt="">
					<p>Sous l'Empire Galactique, Panaka resta fidèle à l'Empereur Sheev Palpatine et devint Moff. Cependant, son ascension dans la hiérarchie Impériale fut stoppée lorsqu'il se fit assassiner par les Partisans de Saw Gerrera, trois ans avant la bataille de Yavin.</p>  
					<p>Quarsh Panaka prit le commandement des Forces Royales de Sécurité de Naboo, supervisant ainsi personnellement la sécurité de la Reine Padmé Amidala. Sachant que Naboo était vulnérable en cas d'attaque, Panaka réclama à la Reine des mesures de sécurité plus strict. Cependant, le Conseil Consultatif parvint à convaincre Padmé de poursuivre sa politique pacifique.</p>   
					<p>Quarsh Panaka était un officier courageux qui entraînait constamment ses hommes aux mieux de leur capacité. Cependant, malgré cela, il savait que Naboo restait vulnérable en cas d'attaque.</p> 
                </div>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
