<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css">
		<title>R2-D2</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
                        <h1>R2-D2</h1>
                        <p>R2-D2 était un droïde astromécano de série R2. Il participa à plusieurs conflits majeurs de la galaxie, notamment la Guerre des Clones du côté de la République Galactique, puis la Guerre Civile Galactique du côté de l'Alliance Rebelle.</p>
                    </div>
                    <div class="presentoir">
                        <img src="" alt="">
                        <table>
							<tr>
								<th>Apparait dans:</th>
								<td>La Menace Fantôme</td>
							</tr>
							<tr>
								<th>Première apparition:</th>
								<td>La Menace Fantôme</td>
							</tr>
							<tr>
								<th>Affiliation:</th>
								<td>Maison Royale de Naboo</td>
							</tr>
							<tr>
								<th>Race:</th>
								<td>Droïde</td>
							</tr>
							<tr>
								<th>Genre:</th>
								<td>Programmation Masculine</td>
							</tr>
							<tr>
								<th>Planète d'origine:</th>
								<td>Nubia</td>
							</tr>
							<tr>
								<th>Métier:</th>
								<td>Astromécano</td>
							</tr>
							<tr>
								<th>Côté de la Force:</th>
								<td></td>
							</tr>
						</table>
                    </div>
				</div>
                <div class="relations">
					<hr>
                    <h2>Rôle dans l'histoire</h2>
                    <img src="" alt="">
					<p></p>  
					<p></p>   
					<p></p> 
                </div>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
