<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Menace Fantôme</title>
</head>
<body>
    <p>Star Wars, épisode I : La Menace fantôme (Star Wars: Episode I – The Phantom Menace) est un film américain de science-fiction de type space opera sorti en 1999 écrit et réalisé par George Lucas.</p>
    <p>C'est le quatrième opus de la saga Star Wars par sa date de sortie, mais le premier dans l'ordre chronologique de l'histoire. Sorti seize ans après Le Retour du Jedi, il ouvre une nouvelle trilogie de préquelle, la « prélogie ». Le film est également la quatrième réalisation de Lucas après un hiatus de vingt-deux ans.</p>
    <p>Le film suit le chevalier Jedi Qui-Gon Jinn et son apprenti Obi-Wan Kenobi qui escortent et protègent la reine Amidala qui voyage de la planète Naboo à la planète Coruscant dans l'espoir de trouver une issue pacifique à un différend commercial interplanétaire. Il met également en scène le jeune Anakin Skywalker avant qu'il ne devienne un Jedi. Celui-ci est alors un jeune esclave qui semble avoir une forte prédisposition à l'utilisation de la Force.</p> 
</body>
</html>