<!DOCTYPE html>
<html lang="fr">
	<head>
		<link rel="stylesheet" href="../css/footer.css" />
	</head>
	<body>
		<footer>
			<div class="pied">
				<a href="../views/movies/index.html">Films</a>
				<a href="../views/characters/index.html">Personnages</a>
				<a href="../views/planets/index.html">Planètes</a>
				<a href="../views/corporations/index.html">Corporations</a>
				<a href="">Contact</a>
			</div>
			<div class="credit">
				<p>@ 2022 MEVY - Created with passion</p>
			</div>
		</footer>
	</body>
</html>
