<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="../css/header.css">
</head>
<body>
    <header>
        <div class="gauche">
            <a href="../views/index.html"><img src="../images/logo.png" width="100px" height="50px" /></a>
            <a href="../views/index.html">Films</a>
				<a href="../views/characters/index.html">Personnages</a>
				<a href="../views/planets/index.html">Planètes</a>
				<a href="../views/corporations/index.html">Corporations</a>
            <a href="">Contact</a>
        </div>
        <div class="droite">
            <input type="button" class="bouton" value="Inscription" href="" />
            <input type="button" class="bouton" value="Connexion" href="" />
        </div>
    </header>
    
</body>
</html>