<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Accueil Star Wars</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/styles.css'>
</head>
<body>
    <header>
        <iframe src="../views/header.html" frameborder="0"></iframe>
    </header>
    <main class="accueil">
        <div class="left">
            <a href="" class="lien"><img class="film" src="../images/movies/poster1.jpg"/>Film 1: La Menace Fantôme</a>
        </div>
        <div class="center">
            <a href="" class="lien"><img class="film" src="../images/movies/poster2.jpg"/>Film 2: L'attaque des clones</a>
        </div>
        <div class="right">
            <a href="" class="lien"><img class="film" src="../images/movies/poster3.jpg"/>Film 3: La Revanche des Siths</a>
        </div>
    </main>
    <footer>
        <iframe src="../views/footer.html" frameborder="0"></iframe>
    </footer>
</body>
</html>
