<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title></title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>Bail Organa</h1>
						<p>
							Bail Organa est un personnage de Star Wars. Sénateur à Coruscant de la planète Alderaan, il apparaît dans Star Wars, épisode II : L'Attaque des clones, Star Wars, épisode III : La
							Revanche des Sith, Rogue One: A Star Wars Story et Obi-Wan Kenobi. C'est un pionnier de la rébellion qui a été mabre de la délégation des 2000. Après l'Ordre 66, il vient en aide aux
							Jedi Yoda et Obi-Wan Kenobi et assiste avec eux à la naissance des jumeaux Luke Skywalker et celle qu'il va adopter avec sa fame : Leia Organa, qui le raplacera plus tard au Sénat
							impérial.
						</p>
					</div>
					<div class="presentoir">
						<img src="" alt="" />
						<table>
							<tr>
								<th>Apparaît dans :</th>
								<td><a>L'Attaque des clones</a>, <a>La Revanche des Sith</a> <a>Rogue One</a></td>
							</tr>
							<tr>
								<th>Praière apparition :</th>
								<td><a>L'Attaque des clones (2002)</a></td>
							</tr>
							<tr>
								<th>Affiliations :</th>
								<td><a>République galactique</a>, <a>Alliance rebelle</a></td>
							</tr>
							<tr>
								<th>Race :</th>
								<td>Humain</td>
							</tr>
							<tr>
								<th>Genre :</th>
								<td>Masculin</td>
							</tr>
							<tr>
								<th>Planète d'origine :</th>
								<td>Tatooine</td>
							</tr>
							<tr>
								<th>Métier :</th>
								<td>Chevalier de l'Ordre puis Seigneur Sith</td>
							</tr>
							<tr>
								<th>Côté de la force :</th>
								<td>Côté lumineux, puis obscur</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="relations">
					<hr />
					<h2>Rôle dans l'histoire</h2>
					<img src="" alt="" />
					<p></p>
					<p></p>
					<p></p>
				</div>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
