<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Mace Windu</title>
</head>

<body>
    <header>
        <iframe src="../header.html" frameborder="0"></iframe>
    </header>
    <main>
        <div class="container">
            <div class="presentation">
                <div class="histoire">
                    <h1>boba fett</h1>
                    <p>Boba Fett est un personnage de la saga cinématographique Star Wars.</p>
                </div>
                <div class="presentoir">
                    <img src="" alt="">
                    <table>
                        <tr>
                            <th>Apparaît dans : </th>
                            <td><a>La Menace fantôme</a> , <a>L'Attaque des clones</a> et <a>La Vengeance des Sith</a>
                            </td>
                        </tr>
                        <th>Praière apparition :</th>
                        <td><a>La Menace fantôme</a> </td>
                        <tr>
                            <th>Affiliations :</th>
                            <td>chasseur de prime </td>
                        </tr>
                        <tr>
                            <th>Race :</th>
                            <td>Clone</td>
                        </tr>
                        <tr>
                            <th>Genre :</th>
                            <td>Masculin</td>
                        </tr>
                        <tr>
                            <th>Planète d'origine :</th>
                            <td>kamino</td>
                        </tr>
                        <tr>
                            <th>Métier :</th>
                            <td>Enemi Jedi</td>
                        </tr>
                        <tr>
                            <th>Côté de la force :</th>
                            <td>ne maitrise pas la force </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="relations">
                <hr>
                <h2>Rôle dans l'histoire</h2>
                <img src="" alt="">
                <p>Boba Fett est le clone de Jango Fett qu'il a conservé auprès de lui comme son fils, parmi les
                    milliers d'autres clones réalisés à son image sur la planète Kamino
                    et qui vont intervenir dans l'épisode II de la saga Star Wars, l'Attaque des clones. Devenu adulte,
                    Boba est un redoutable chasseur de primes qui est connu pour sa grande adresse
                    à traquer sa proie. Il a souvent travaillé pour le gangster Jabba le Hutt qui lui demande de
                    capturer Han Solo, chose faite grâce à son association avec Dark Vador lors de l'épisode V sur la
                    planète Bespin. Dans l'épisode VI, il disparait sur Tatooine, avalé par un Sarlacc. Boba Fett
                    réapparait dans la saison 2 de la série télévisée The Mandalorian, puis en 2021 dans sa propre
                    série, Le Livre de Boba Fett.</p>
                <p>Durant la Guerre des clones, Boba s'allie d'abord avec un groupe de chasseurs de primes composé de
                    Bossk, Castas et Aurra Sing, que cette dernière a pris sous son aile après la mort de Jango Fett.
                    Sous le nom de "Lucky", il infiltre un groupe de cadets clones en observation sur un croiseur de la
                    République en compagnie des Jedi Anakin Skywalker et Mace Windu. Boba piège les quartiers de Windu,
                    mais c'est un soldat clone qui meurt dans l'explosion. Le croiseur en alerte, il sabote les
                    réacteurs de ce dernier, forçant l'équipage à se diriger vers les capsules de sauvetage. Il prend
                    soin de saboter celle dans laquelle il se trouve afin de ne pas se rendre au point de rendez-vous,
                    et pour que Sing et Bossk puissent venir le récupérer. Après son évacuation,
                    le groupe de chasseurs de primes repart, affirmant à Boba que l'heure de Windu viendra tôt ou tard.
                </p>
            </div>
    </main>
    <footer>
        <iframe src="../footer.html" frameborder="0"></iframe>
    </footer>
</body>

</html>