<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css">
		<title>C-3PO</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
                        <h1>C-3PO</h1>
                        <p>À l'origine, C-3PO fut construit à partir de pièces détachées par Anakin Skywalker enfant pour aider sa mère. Le garçon ne l'ayant pas recouvert de la carcasse habituelle des droïdes de protocole, les mécanismes internes de C-3PO étaient visibles, ce qui le gênait, étant étrangement pudique pour un droïde. C'est sur Tatooine, d'où il n'avait jamais bougé, qu'il rencontra R2-D2. Naquit alors entre eux une amitié qui durera pendant de nombreuses années.
							Après le départ d'Anakin, sa mère, Shmi Skywalker Lars, lui donna une carcasse de couleur métallique, ensuite remplacée par une autre carcasse dorée fournie par l'ambassade de Naboo, lorsqu'il entra au service de la sénatrice Padmé Amidala.</p>
                    </div>
                    <div class="presentoir">
                        <img src="" alt="">
                        <table>
							<tr>
								<th>Apparait dans:</th>
								<td>La Menace Fantôme, L'Attaque des Clones, La Revanche des Siths</td>
							</tr>
							<tr>
								<th>Première apparition:</th>
								<td>La Menace Fantôme</td>
							</tr>
							<tr>
								<th>Affiliation:</th>
								<td>Famille Skywalker</td>
							</tr>
							<tr>
								<th>Race:</th>
								<td>Droïde</td>
							</tr>
							<tr>
								<th>Genre:</th>
								<td>Programmation masculine</td>
							</tr>
							<tr>
								<th>Planète d'origine:</th>
								<td>Tatooine</td>
							</tr>
							<tr>
								<th>Métier:</th>
								<td>Protection de la mère d'Anakin</td>
							</tr>
							<tr>
								<th>Côté de la Force:</th>
								<td>Neutre</td>
							</tr>
						</table>
                    </div>
				</div>
                <div class="relations">
					<hr>
                    <h2>Rôle dans l'histoire</h2>
                    <img src="" alt="">
					<p>Des années après, lorsque le Tantive IV fut attaqué par l'Empire Galactique et que Antilles fut tué par Dark Vador, C-3PO fuit avec R2-D2 dans une capsule de sauvetage qui s'écrasa sur Tatooine.
					Sur Tatooine, les deux droïdes furent récupérés par des Jawas et furent mis en vente. Ils furent ensuite vendus à Luke Skywalker et à son oncle Owen Lars. Lors de cette vente par les Jawas, C-3PO conseilla à Luke d'acquérir R2-D2 lorsque que l'autre droïde astromech, R5-D4, choisi par son oncle, fut victime d'une panne.</p>  
					<p>Après que Owen et Beru eurent été massacrés par l'Empire, C-3PO et R2-D2 se rendirent avec Luke et Ben Kenobi à Mos Eisley d'où ils décolleront vers Alderaan à bord du Faucon Millenium de Han Solo.</p>   
					<p>C-3PO était un personnage svelte duquel se dégage une vraie poésie. Sa voix douce pour un droïde, sa sensibilité, sa vulnérabilité, un curieux mélange d'orgueil et d'humilité font son charme. C'est d'ailleurs ce qui a créé une véritable osmose avec son interprète, Anthony Daniels.</p> 
                </div>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
