<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css">
		<title>Le compte Dooku</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
                        <h1></h1>
                        <p>Le comte Dooku, alias Dark Tyranus, ou Darth Tyranus dans la version originale et québécoise, est un personnage de fiction de Star Wars et l'un des principaux antagonistes de la prélogie. Il apparait dans les films L'Attaque des Clones (2002) et La Revanche des Sith (2005). Dooku est un Seigneur Sith et le commandant suprême de la Confédération des systèmes indépendants.</p>
                    </div>
                    <div class="presentoir">
                        <img src="" alt="">
                        <table>
                            <tr>
                                <th>Apparaît dans : </th>
                                <td><a>La Menace fantôme</a>, <a> L'Attaque des clones</a> et </td>
                                <td>La revanche des Sith</td>
                            </tr>
                            <th>Première apparition :</th>
                            <td><a> L'Attaque des clones</a></td>
                            <tr>
                                <th>Affiliations :</th>
                                <td>Ordre Jedi, puis Sith, CSI</td>
                    
                            </tr>
                            <tr>
                                <th>Race :</th>
                                <td>Être humain</td>
                            </tr>
                            <tr>
                                <th>Genre :</th>
                                <td>Masculin</td>
                            </tr>
                            <tr>
                                <th>Planète d'origine :</th>
                                <td>Serenno</td>
                            </tr>
                            <tr>
                                <th>Métier :</th>
                                <td>Maître jedi puis seigneur Sith</td>
                    
                            </tr>
                            <tr>
                                <th>Côté de la force :</th>
                                <td>Côté lumineux puis obscur</td>
                            </tr>
                        </table>
                    </div>
				</div>
                <div class="relations">
					<hr>
                    <h2>Rôle dans l'histoire</h2>
                    <img src="" alt="">
                    <p>Brillant chevalier Jedi : <br>
                        Le comte Dooku, alias Dark Tyranus, ou Darth Tyranus dans la version originale et québécoise, est un personnage de fiction de Star Wars et l'un des principaux antagonistes de la prélogie. Il apparait dans les films L'Attaque des Clones (2002) et La Revanche des Sith (2005). Dooku est un Seigneur Sith et le commandant suprême de la Confédération des systèmes indépendants.</p>
                    <p> Le Sith : <br>
                        Dooku est approché par Dark Sidious, alias le chancelier Palpatine, qui le convainc que la République est irrémédiablement corrompue et l'invite à devenir Sith (comme il le fait plus tard avec Anakin Skywalker). Dooku accepte et choisit le côté obscur où il prend le nom de Dark Tyranus, une dizaine d'années avant la Guerre des clones. Dark Sidious lui confie alors deux missions extrêmement importantes pour ses plans.</p>
                        <p>Lorsque Palpatine découvre le projet du Jedi Sifo Dyas, à savoir la création d'une armée de clones par les cloneurs de Kamino pour la République (projet secret dont le Jedi n'a pas fait part au Conseil), il ordonne à son nouvel apprenti de tuer son ami et de prendre son identité pour mettre le projet à exécution, mais secrètement au profit des Sith. </p>
                        <p>En parallèle, afin que l'armée clone de la République ait un ennemi à la hauteur à affronter afin de justifier son existence, Dark Sidious ordonna à Tyranus la création d'un mouvement Séparatiste.</p>
                </div>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>