<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css">
		<title>Dexter Jettster</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
                        <h1>Dexter Jettster</h1>
                        <p>Dexter "Dex" Jettster était un cuisiner Besalisk. Juste avant la Guerre des Clones, Jettster était propriétaire du restaurant Chez Dex à Coco Town.
                        Ayant un passé très divers, soit donc une grande expérience et une grande culture, le Jedi Obi-Wan Kenobi a souvent eu besoin de lui pour avoir des informations.</p>
                    </div>
                    <div class="presentoir">
                        <img src="" alt="">
                        <table>
							<tr>
								<th>Apparaît dans :</th>
								<td>L'Attaque des Clones</td>
							</tr>
							<tr>
								<th>Première apparition :</th>
								<td>L'Attaque des Clones</td>
							</tr>
							<tr>
								<th>Affiliations :</th>
								<td>Chez Dex</td>
							</tr>
							<tr>
								<th>Race :</th>
								<td>Besalisk</td>
							</tr>
							<tr>
								<th>Genre :</th>
								<td>Masculin</td>
							</tr>
							<tr>
								<th>Planète d'origine :</th>
								<td>Coruscant</td>
							</tr>
							<tr>
								<th>Métier :</th>
								<td>Cuisinier</td>
							</tr>
							<tr>
								<th>Côté de la force :</th>
								<td>Neutre</td>
							</tr>
						</table>
                    </div>
				</div>
                <div class="relations">
					<hr>
                    <h2>Rôle dans l'histoire</h2>
                    <img src="" alt="">
					<p>Dexter a indirectement joué un grand rôle dans la Guerre des Clones, en indiquant à Obi-Wan que la pointe empoisonnée (Kamino Saberdart) envoyée par Jango Fett sur la chasseuse de primes Zam Wesell provenait de Kamino.</p>  
					<p></p>   
					<p></p> 
                </div>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
