<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Mace Windu</title>
</head>

<body>
    <header>
        <iframe src="../header.html" frameborder="0"></iframe>
    </header>
    <main>
        <div class="container">
            <div class="presentation">
                <div class="histoire">
                    <h1>Jango fett</h1>
                    <p>Jango Fett est un personnage de la saga cinématographique Star Wars.</p>
                </div>
                <div class="presentoir">
                    <img src="../../images/characters/jango._fett.webp" alt="">
                    <table>
                        <tr>
                            <th>Apparaît dans : </th>
                            <td><a>La Menace fantôme</a> , <a>L'Attaque des clones</a> et <a>La Vengeance des Sith</a>
                            </td>
                        </tr>
                        <th>Praière apparition :</th>
                        <td><a>La Menace fantôme</a> </td>
                        <tr>
                            <th>Affiliations :</th>
                            <td>chasseur de prime </td>
                        </tr>
                        <tr>
                            <th>Race :</th>
                            <td>humain</td>
                        </tr>
                        <tr>
                            <th>Genre :</th>
                            <td>Masculin</td>
                        </tr>
                        <tr>
                            <th>Planète d'origine :</th>
                            <td>kamino</td>
                        </tr>
                        <tr>
                            <th>Métier :</th>
                            <td>Enemi Jedi</td>
                        </tr>
                        <tr>
                            <th>Côté de la force :</th>
                            <td>ne maitrise pas la force </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="relations">
                <hr>
                <h2>Rôle dans l'histoire</h2>
                <img src="" alt="">
                <p>Les origines du chasseur de primes Jango Fett ne sont pas connues1, et bien qu'il arbore une armure
                    mandalorienne, il n'a pas de lien avec Mandalorea 2,1.
                    Étant l'un des meilleurs chasseurs de primes de la Galaxie, sa réputation attire l’attention des
                    Kaminoens qui, avec les conseils d'un dénommé Tyranus, décident de le recrutera 1,1. Le maître Jedi
                    Sifo-Dyas était en secret venu passer une commande pour le compte de la République : une immense
                    armée de clonesa 1,3. Jango est utilisé comme modèle génétique pour cette arméea 3,1, cependant
                    l'ADN utilisé, est légèrement modifié notamment afin de rendre les clones plus obéissantsa 4. En
                    contrepartie, les généticiens de Kamino lui donnent une importante somme d'argent, ainsi qu'un clone
                    non-modifié qu'il élève comme un fils : Boba Fetta 1,</p>
                <p>Peu après, les Jedi Obi-Wan et Anakin, et la sénatrice Amidala, sont capturés sur Géonosis, et
                    condamnés à mort dans une arène de la planète5. Ils parviennent cependant à s'échapper grâce à
                    l'arrivée in extremis des Jedi menés par Mace Windua 6,6. Durant le combat qui suit entre les forces
                    séparatistes et les Jedi, le chasseur de primes réussit à tuer le maître Jedi Coleman Trebora 7,7.
                    Il rentre ensuite dans l'arène où il se retrouve face à Mace Windu. Le combat est cependant bref, le
                    maître Jedi prend rapidement le dessus, et lui tranche la tête d'un coup de sabre lasera 8.
                </p>
            </div>
    </main>
    <footer>
        <iframe src="../footer.html" frameborder="0"></iframe>
    </footer>
</body>

</html>