<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Mace windu</title>
	</head>
	<body>
		<header>
			<iframe src="../ressources/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
                        <h1>Mace windiu</h1>
                        <p>.</p> 
                    </div>
                    <div class="presentoir">
                        <img src="" alt="">
                        <table>
                            <tr>
                                <th>Apparaît dans : </th>
                                <td><em>La Menace fantôme</em></td>
                                <td><em> La guerre des clones</em></td>
                                <td><em>la revanche des shits</em> </td>
                            </tr>
                            <th>Première apparition :</th>
                            <td><em>L'empire  contre attaque </em></td>
                            <tr>
                                <th>Affiliations :</th>
                                <td>
                                    ordre jedi
                                </td>
                    
                            </tr>
                            <tr>
                                <th>Race :</th>
                                <td>race de yoda</td>
                            </tr>
                            <tr>
                                <th>Genre :</th>
                                <td>Masculin</td>
                            </tr>
                            <tr>
                                <th>Planète d'origine :</th>
                                <td>harrun kal</td>
                            </tr>
                            <tr>
                                <th>Métier :</th>
                                <td>maitre jedi</td>
                    
                            </tr>
                            <tr>
                                <th>Côté de la force :</th>
                                <td>Côté lumineux</td>
                            </tr>
                        </table>
                    </div>
				</div>
                <div class="relations">
                    <h2>Rôle dans l'histoire l'Attaque des clones</h2>
                    <img src="" alt="">
					<p> Dans les événements qui ont abouti à la bataille de Géonosis, Mace Windu accompagna 200 Jedi chargés de secourir Obi-Wan Kenobi, sur le point d'être exécuté en compagnie d'Anakin Skywalker et de la Sénatrice Padmé Amidala
                         sur ordre du Comte Dooku. Lorsque le groupe se dévoila dans l'arène de Géonosis, Jango Fett fut repéré et se révéla immédiatement très dangereux puisqu'il tua un membre du Conseil, le fin tacticien Coleman Trebor.
                         Windu s'y rendit et affronta durement le chasseur de primes, et le tua finalement. Comme son compatriote Ki-Adi-Mundi, il survécut aux assauts des droïdes Séparatistes jusqu’à l'arrivée bienvenue de Maître Yoda en personne,
                          à la tête de l'armée de clones nouvellement réquisitionnée par le Chancelier Palpatine pour défendre la République de la menace séparatiste. Ensuite, Maître Mundi et Kit Fisto allèrent à l'assaut de l'armée séparatiste, tout comme Maître Windu. Malgré l'écrasante victoire républicaine, tous les chefs séparatistes purent s'enfuir.
                          Par la suite, Windu, Fisto, Mundi et Yoda surent d'Obi-Wan que le Comte Dooku avait déclaré que Dark Sidious contrôlait le Sénat galactique. Ils ne crurent pas à cette déclaration, mais surveillèrent Palpatine de plus près.</p>.
               
                   <p>Pendant la guerre des clones, Maître Windu fut l'un des grands généraux de l'armée de la République, en possédant une légion de 5 000 hommes et un commandant clone, du nom de commandant Ponds. Lors de la bataille de Ryloth, il arrêta Wat Tambor, qui retenait prisonniers les Twi'leks.</p>
                </div>
			</div>
		</main>
		<footer>
			<iframe src="../ressources/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>