<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css">
		<title>qui jon ji</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
                        <h1>Qui jon ji</h1>
                        <p></p>
                    </div>
                    <div class="presentoir">
                        <img src="" alt="">
                        <table>
                            <tr>
                                <th>Apparaît dans : </th>
                                <td><a>La Menace fantôme</a></td>
                                <td><a> La guerre des clones</a></td>
                                <td>l'héritage</td>
                            </tr>
                            <th>Première apparition :</th>
                            <td><a>La menace fantome</a></td>
                            <tr>
                                <th>Affiliations :</th>
                                <td>Jedi</td>
                    
                            </tr>
                            <tr>
                                <th>Race :</th>
                                <td>Humain</td>
                            </tr>
                            <tr>
                                <th>Genre :</th>
                                <td>Masculin</td>
                            </tr>
                            <tr>
                                <th>Planète d'origine :</th>
                                <td>Coruscant</td>
                            </tr>
                            <tr>
                                <th>Métier :</th>
                                <td>jedi</td>
                    
                            </tr>
                            <tr>
                                <th>Côté de la force :</th>
                                <td>Côté lumineux</td>
                            </tr>
                        </table>
                    </div>
				</div>
                <div class="relations">
					<hr>
                    <h2>Rôle dans l'histoire</h2>
                    <img src="" alt="">
                    <p>Avant La Menace fantôme <br>
                        Qui-Gon Jinn est natif de Coruscant où il est recueilli très jeune par les Jedi1,2,5.
                        Il devient le Padawan du comte Dooku qui lui enseigne le savoir et la philosophie Jedi2,5.
                        Lorsqu'il devient chevalier, il prend le jeune Obi-Wan Kenobi comme apprenti2,</p>.
                
                    <p>La taxation des routes commerciales pousse la Fédération du commerce a mettre en place un blocus de Naboo3. Le
                        chancelier suprême Valorum envoie deux chevaliers Jedi, Qui-Gon Jinn et son apprenti Obi-Wan Kenobi, pour
                        négocier3. Les négociations n'ont jamais lieu, alors que les Jedi sont sur le vaisseau de la Fédération du
                        commerce en orbite autour de Naboo, ils parviennent à échapper à une tentative d'assassinat et s'échappent sur
                        la planète3. Ils portent secours à Padmé Amidala alors reine de Naboo et réussissent à forcer le blocus et à
                        fuir la planète3. Cependant leur vaisseau est endommagé et ils sont contraints de se poser sur Tatooine, une
                        planète désertique aux mains des Hutts3.</p>
                    <p>Alors que Qui-Gon est à la recherche de pièces pour réparer son vaisseau, il fait la rencontre du jeune esclave
                        Anakin Skywalker1,2. La Force est très présente chez ce garçon, le Jedi est alors persuadé d'avoir trouvé «
                        l'Élu », celui qui selon une ancienne prophétie Jedi, doit détruire les Sith et ramener l'équilibre dans la
                        Force2. Qui-Gon souhaite le ramener au temple Jedi sur Coruscant, mais pour cela il doit le libérer1. Il fait
                        donc un pari avec Watto, le propriétaire d'Anakin1. Si le Jedi gagne, Anakin est libre et peut l'accompagner sur
                        Coruscant, mais s'il perd, alors il doit donner son vaisseau1. Heureusement, le jeune esclave gagne la course de
                        module de la Bounta et permet au Jedi de remporter son pari3. Alors qu'il rejoint son vaisseau pour quitter la
                        planète désertique, Qui-Gon fait face à une menace qu'il croyait disparue depuis mille ans2. Il combat le Sith
                        Dark Maul et parvient à s'échapper dans son vaisseau</p>
                    <p>En 19 av. BY, après avoir mis en œuvre la grande purge Jedi, il s'autoproclame empereur devant le Sénat, et
                        transforme la République en un Empire.
                        Il fait sombrer le Jedi Anakin Skywalker dans le côté obscur de la Force et en fait Dark Vador, son nouvel élève
                        et bras droit. Le règne de Palpatine s'achève dans l'épisode VI,
                        à la fin duquel il est présumé mort tué par Dark Vador en l'an 4 ap. BY lors de la bataille finale contre la
                        seconde étoile de la Mort. Il opère son retour dans l’épisode IX, où il est définitivement éliminé par Rey, sa
                        petite-fille.</p>
                    <p>Au temple Jedi de Coruscant, Qui-Gon présente Anakin Skywalker au conseil dont la réaction le concernant est
                        plutôt mitigée1. Le Jedi, accompagné de son apprenti et de l'enfant, retourne sur Naboo avec la reine3. Alors
                        que la bataille ne fait que commencer, Qui-Gon et Obi-Wan croisent Dark Maul dans le palais de la reinea 1. Il
                        est tué par le Sith qui est tranché en deux par le Padawan avec le sabre de son maître1. Avant de mourir,
                        Qui-Gon demande à Obi-Wan d'entraîner Anakin et d'en faire un Jedi2. Ses obsèques ont lieu sur Naboo en présence
                        de nombreuses personnalités dont le conseil Jedi et le chancelier suprême Palpatine</p>
                </div>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
