<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css">
		<title>Sio Bibble</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
                        <h1>Sio Bibble</h1>
                        <p>Sio Bibble fut le gouverneur de Naboo durant les règnes des Reines Padmé Amidala, Jamillia et Apailana. Il fut retenu prisonnier par la Fédération du commerce après le Blocus de Naboo, lorsque la Reine était partie pour Coruscant.</p>
                    </div>
                    <div class="presentoir">
                        <img src="" alt="">
                        <table>
							<tr>
								<th>Apparait dans:</th>
								<td>La Menace Fantôme</td>
							</tr>
							<tr>
								<th>Première apparition:</th>
								<td>La Menace Fantôme</td>
							</tr>
							<tr>
								<th>Affiliation:</th>
								<td>Maison Royal de Naboo</td>
							</tr>
							<tr>
								<th>Race:</th>
								<td>Humain</td>
							</tr>
							<tr>
								<th>Genre:</th>
								<td>Masculin</td>
							</tr>
							<tr>
								<th>Planète d'origine:</th>
								<td>Naboo</td>
							</tr>
							<tr>
								<th>Métier:</th>
								<td>Gouverneur</td>
							</tr>
							<tr>
								<th>Côté de la Force:</th>
								<td>Lumière</td>
							</tr>
						</table>
                    </div>
				</div>
                <div class="relations">
					<hr>
                    <h2>Rôle dans l'histoire</h2>
                    <img src="" alt="">
					<p>Natif de Naboo, Sio Bibble était un éminent philosophe qui devint Gouverneur de Naboo durant le règne de la Reine Padmé Amidala.</p>  
                </div>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
