<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Taun we</title>
</head>

<body>
    <header>
        <iframe src="../header.html" frameborder="0"></iframe>
    </header>
    <main>
        <div class="container">
            <div class="presentation">
                <div class="histoire">
                    <h1>Taun we</h1>
                    <p>Taun We est une assistante du premier ministre de Kamino. C'est elle qui présente l'Armée de
                        Clone au Jedi Obiwan Kenobi dans l'Episode II.</p>
                </div>
                <div class="presentoir">
                    <img src="" alt="">
                    <table>
                        <tr>
                            <th>Apparaît dans : </th>
                            <td><a>La Menace fantôme</a> , <a>L'Attaque des clones</a> et <a>La Vengeance des Sith</a>
                            </td>
                        </tr>
                        <th>Praière apparition :</th>
                        <td><a>La Menace fantôme</a> </td>
                        <tr>
                            <th>Affiliations :</th>
                            <td>politique </td>
                        </tr>
                        <tr>
                            <th>Race :</th>
                            <td>Kaminoene</td>
                        </tr>
                        <tr>
                            <th>Genre :</th>
                            <td>Feminin </td>
                        </tr>
                        <tr>
                            <th>Planète d'origine :</th>
                            <td>kamino</td>
                        </tr>
                        <tr>
                            <th>Métier :</th>
                            <td>assistante premier ministre lama su </td>
                        </tr>
                        <tr>
                            <th>Côté de la force :</th>
                            <td>ne maitrise pas la force </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="relations">
                <hr>
                <h2>Rôle dans l'histoire</h2>
                <img src="" alt="">
                <p>Cette assistante ministérielle coordonne le projet de la Grande Armée de la République. Ayant étudié
                    la psychologie humaine, elle veilla à la stabilité mentale des clones.</p>
                

            </div>
    </main>
    <footer>
        <iframe src="../footer.html" frameborder="0"></iframe>
    </footer>
</body>

</html>