<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css">
		<title>Watto</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
                        <h1>Watto</h1>
                        <p>Watto était un Toydarien originaire de Toydaria et vivant sur Tatooine au moment de l'invasion de Naboo par la Fédération du commerce.</p>
                    </div>
                    <div class="presentoir">
                        <img src="" alt="">
                        <table>
							<tr>
								<th>Apparait dans:</th>
								<td>La Menace Fantôme, L'Attaque des Clones</td>
							</tr>
							<tr>
								<th>Première apparition:</th>
								<td>La Menace Fantôme</td>
							</tr>
							<tr>
								<th>Affiliation:</th>
								<td>Magasin de Watto</td>
							</tr>
							<tr>
								<th>Race:</th>
								<td>Toydarien</td>
							</tr>
							<tr>
								<th>Genre:</th>
								<td></td>
							</tr>
							<tr>
								<th>Planète d'origine:</th>
								<td>Masculin</td>
							</tr>
							<tr>
								<th>Métier:</th>
								<td>Commerçant - Ferrailleur - Joueur</td>
							</tr>
							<tr>
								<th>Côté de la Force:</th>
								<td>Neutre</td>
							</tr>
						</table>
                    </div>
				</div>
                <div class="relations">
					<hr>
                    <h2>Rôle dans l'histoire</h2>
                    <img src="" alt="">
					<p>Avant d'arriver sur Tatooine, Watto était un soldat de Toydaria. Mais après avoir été blessé au combat, il parti pour Tatooine, où il apprit le métier de commerçant auprès des Jawas avant d'ouvrir son propre commerce.
                    Du temps du blocus de Naboo, il était le maître de Shmi Skywalker et d'Anakin Skywalker, qui sont ses esclaves. Il est alors l'un des plus grands commerçants de Mos Espa. Il se dit négociant en pièces détachées, mais pour tout le monde, c'est un ferrailleur. En effet, il vend aussi bien des droïdes en bon état de marche que des rebuts dont même un Jawa ne voudrait pas. Son personnel est constitué de droïdes et d'esclaves.</p>  
					<p>Anakin participa à la Classique de Boonta Eve. Watto paria avec Qui-Gon Jinn qu'il ne gagnerait pas contre le Dug Sebulba mais il perdit. Pour choisir quel esclave, Anakin ou sa mère Shmi, il va céder à Qui-Gon, Watto n'hésite pas à utiliser un dé pipé. Mais le Jedi truque lui aussi la partie en utilisant ses pouvoirs mentaux pour qu'Anakin soit choisi.
                    Ensuite, il vendra Shmi à Cliegg Lars, père d'Owen Lars, lui même qui éduquera plus tard Luke Skywalker en compagnie de Beru Whitesun Lars, sa femme. Watto continua alors seul de tenir son commerce pendant plusieurs années.</p>   
					<p>Comme tous les Toydariens, Watto pouvait voler grâce à ses deux ailes à battements rapides. Il était moins lourd qu'il n'y paraissait, les tissus spongieux de son corps boudiné étant remplis de gaz.</p> 
                </div>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
